<div class="row">
  <div class="col s10 offset-s1 center">
    <h3>Surrey On The Go Demo</h3>
  </div>
</div>
<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card hoverable">
      <div class="card-content black-text">
        <span class="card-title">Welcome!</span>
        <p>
          Feel free to poke around and check out any of the features in the application.  There are 3 unique user experiences - that of members, drivers, and admins.  Login information for each is provided below.
        </p>
        <br>
        <p>
          <strong>Admin Login</strong>
        </p>
        <br>
        <p>
          Email: admin@admin.com
        </p>
        <p>
          PW: password
        </p>
        <br>
        <p>
          <strong>Member Login</strong>
        </p>
        <br>
        <p>
          Email: john@smith.com
        </p>
        <p>
          PW: password
        </p>
        <br>
        <p>
          <strong>Driver Login</strong>
        </p>
        <br>
        <p>
          Email: jeff@gordon.com
        </p>
        <p>
          PW: password
        </p>
      </div>
      <div class="card-action center">
        <a class="waves-effect waves-light btn-large white-text" href="/">
        <i class="large material-icons left">search</i>Click Here To Continue To The Demo</a>
      </div>
    </div>
  </div>
</div>
