<div class="row">
  <div class="col s10 offset-s1 center">
    <h3>Surrey On The Go Demo</h3>
  </div>
</div>
<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card hoverable">
      <div class="card-content black-text">
        <span class="card-title">Welcome!</span>
        <p>
          Surrey On The Go is an application built for a non-profit agency, <a href="https://surreyservices.org/">Surrey Services for Seniors,</a> to coordinate the transportation services offered to its members. After gathering requirements from Surrey Services, we built an internal tool that mimics and streamlines the agency’s current processes. The application features unique user experiences for members, volunteer drivers, and admins. Upon request for a ride, the request is matched to drivers in the system based on drivers' availabilities, location preferences, and other considerations.
        </p>
        <br>
        <p>
          Feel free to poke around and check out any of the features in the application.  There are 3 unique user experiences - that of members, drivers, and admins.  Login information for each is provided below.
        </p>

        <br>
        <p>
          <a href="https://github.com/adwaxman/surrey_app">Click here to checkout the code.</a>
        </p>
        <br>
        <p>
          <strong>Admin Login</strong>
        </p>
        <br>
        <p>
          Email: admin@admin.com
        </p>
        <p>
          PW: password
        </p>
        <br>
        <p>
          <strong>Member Login</strong>
        </p>
        <br>
        <p>
          Email: john@smith.com
        </p>
        <p>
          PW: password
        </p>
        <br>
        <p>
          <strong>Driver Login</strong>
        </p>
        <br>
        <p>
          Email: jeff@gordon.com
        </p>
        <p>
          PW: password
        </p>
      </div>
      <div class="card-action center">
        <a class="waves-effect waves-light btn-large white-text" href="/">
        <i class="large material-icons left">search</i>Click Here To Continue To The Demo</a>
      </div>
    </div>
  </div>
</div>
