<nav>
  <div class="nav-wrapper blue accent-4">
    <a href="/" class="brand-logo">Surrey Services</a>
    <ul class="right">
      <li><a class='dropdown-button' data-activates="admin-dropdown" data-beloworigin="true" data-induration="7000"  data-constrainwidth="false"><i class="material-icons settings-icon">settings</i></a></li>
    </ul>
    <ul class="right">
      <a href="/admin">Admin panel home</a>
    </ul>
    <ul id="admin-dropdown" class="dropdown-content">
      <li><a href="/admin/select">Create Ride</a></li>
      <li class="divider"></li>
      <li><a href="/admin/rides">View Rides</a></li>
      <li class="divider"></li>
      <li><a href="/members">View Members</a></li>
      <li class="divider"></li>
      <li><a href="/admin/drivers">View Drivers</a></li>
      <li class="divider"></li>
      <li><a href="/admin/logout">Logout</a></li>
      <li class="divider"></li>
    </ul>

    </div>
</nav>
