<nav>
  <div class="nav-wrapper blue accent-4">
    <a href="/" class="brand-logo">Surrey Services</a>
    <ul class="right">
      <li><a href="/demo" class="right">Login Info</a></li>
      <li><a href="/driver/logout">Logout</a></li>
    </ul>
    </div>
</nav>
