<nav>
  <div class="nav-wrapper <%= Setting.find(1).nav %>">
    <a href="/" class="brand-logo">Surrey Services</a>
    <ul class="right">
      <a href="/driver/logout">Logout</a>
    </ul>
    </div>
</nav>
