<nav>
  <div class="nav-wrapper blue accent-4">
    <a href="/" class="brand-logo">Surrey Services</a>
    <ul class="right">
      <li><%= link_to "Update my information", edit_member_path(current_member) %></li>
      <li><a href="/logout">Logout</a></li>
    </div>
  </div>
</nav>
