<nav>
  <div class="nav-wrapper blue accent-4">
    <a href="#!" class="brand-logo">Surrey Services</a>
    <ul class="right hide-on-med-and-down">
      <% if session[:member_id] %>
      <li> <%= current_member.fname + " " + current_member.lname %> </li>
      <li><a href="/logout">Logout</a></li>
      <% else %>
      <li><a href="/login">Login</a></li>
      <% end %>
      <li><a href="#"><i class="material-icons">refresh</i></a></li>
      <li><a class='dropdown-button' data-activates="admin-dropdown" data-beloworigin="true" data-induration="700"  data-constrainwidth="false"><i class="material-icons settings-icon">settings</i></a></li>
    </ul>

    <% if session[:admin_id] %>
    <ul id="admin-dropdown" class="dropdown-content">
      <li><a href="admin/rides">Rides</a></li>
      <li class="divider"></li>
      <li><a href="">Members</a></li>
      <li class="divider"></li>
      <li><a href="">Drivers</a></li>
      <li class="divider"></li>
      <li><a href="/admin/logout">Logout</a></li>
      <li class="divider"></li>
    </ul>

    <% else %>
    <ul id="admin-dropdown" class="dropdown-content">
      <li><a href="/admin/login">Admin Login</a></li>
      <li class="divider"></li>
      <li><a href="/admins/new">Create new admin</a></li>
    </ul>

    <% end %>


    </div>
  </div>
</nav>
