<div class="row">
  <div class="col s12 m6">
    <div class="card hoverable">
      <div class="card-content black-text">
        <span class="card-title">Need a ride?</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, totam, iste. Incidunt, illum, quibusdam eaque, necessitatibus cupiditate rerum repellat quod error dignissimos, aliquid quidem perferendis deserunt debitis consequuntur adipisci
          pariatur.</p>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn-large white-text">
          <i class="fa fa-car fa-1x left"></i>Click here</a>
      </div>
    </div>
  </div>
      <div class="col s12 m6">
      <div class="card hoverable">
        <div class="card-content black-text">
          <span class="card-title">Need Help?</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, totam, iste. Incidunt, illum, quibusdam eaque, necessitatibus cupiditate rerum repellat quod error dignissimos, aliquid quidem perferendis deserunt debitis consequuntur adipisci
            pariatur.</p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn-large white-text">
            <i class="fa fa-question-circle fa-1x left"></i>Click here</a>
        </div>
      </div>
    </div>
  <div class="col s12 m6 offset-m3">
    <div class="card hoverable">
      <div class="card-content black-text">
        <span class="card-title">Driver Sign In</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, totam, iste. Incidunt, illum, quibusdam eaque, necessitatibus cupiditate rerum repellat quod error dignissimos, aliquid quidem perferendis deserunt debitis consequuntur adipisci
          pariatur.</p>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn-large white-text">
          <i class="fa fa-sign-in fa-1x left"></i>Click here</a>
      </div>
    </div>
  </div>

  </div>
