<div class="row">
  <div class="col s12 m10 offset-m2">
    <div class="card">
      <div class="card-content black-text">
        <span class="card-title">Need a ride?</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, totam, iste. Incidunt, illum, quibusdam eaque, necessitatibus cupiditate rerum repellat quod error dignissimos, aliquid quidem perferendis deserunt debitis consequuntur adipisci
          pariatur.</p>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn-large white-text">
          <i class="fa fa-car fa-1x left"></i>Click here</a>
      </div>
    </div>
  </div>
  <div class="col s12 m5 offset-m3">
    <div class="card">
      <div class="card-content black-text">
        <span class="card-title">Need a ride?</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, totam, iste. Incidunt, illum, quibusdam eaque, necessitatibus cupiditate rerum repellat quod error dignissimos, aliquid quidem perferendis deserunt debitis consequuntur adipisci
          pariatur.</p>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn-large">
          <i class="material-icons left">cloud</i>button</a>
      </div>
    </div>
  </div>
    <div class="col s12 m5 offset-m2">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">Need a ride?</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, totam, iste. Incidunt, illum, quibusdam eaque, necessitatibus cupiditate rerum repellat quod error dignissimos, aliquid quidem perferendis deserunt debitis consequuntur adipisci
            pariatur.</p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn-large">
            <i class="material-icons left">cloud</i>button</a>
        </div>
      </div>

    </div>
  </div>
