<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card hoverable">
      <div class="card-content black-text">
        <span class="card-title">Rides</span>
        <p>Click below to access the rides panel.</p>
      </div>
      <div class="card-action center">
        <a class="waves-effect waves-light btn-large white-text" href="/admin/rides">View</a>
        <a class="waves-effect waves-light btn-large white-text" href="/admin/select">Create</a>
        <a class="waves-effect waves-light btn-large white-text" href="">Archived</a>
      </div>
    </div>
  </div>
  <div class="col s12 m8 offset-m2">
    <div class="card hoverable">
      <div class="card-content black-text">
        <span class="card-title">Members</span>
        <p>Click below to access the members panel.</p>
      </div>
      <div class="card-action center">
        <a class="waves-effect waves-light btn-large white-text" href="/members">
        View</a>
        <a class="waves-effect waves-light btn-large white-text" href="/admin/members/new">
        Create</a>
      </div>
    </div>
  </div>
  <div class="col s12 m8 offset-m2">
    <div class="card hoverable">
      <div class="card-content black-text">
        <span class="card-title">Drivers</span>
        <p>Click below to access the drivers panel.</p>
      </div>
      <div class="card-action center">
        <a class="waves-effect waves-light btn-large white-text" href="/drivers">View</a>
        <a class="waves-effect waves-light btn-large white-text" href="/admin/drivers/new">Create</a>
      </div>
    </div>
  </div>
  <div class="col s12 m8 offset-m2">
    <div class="card hoverable">
      <div class="card-content black-text">
        <span class="card-title">Admin</span>
        <p>Click below to create new volunteer or staff accounts.</p>
      </div>
      <div class="card-action center">
        <a class="waves-effect waves-light btn-large white-text" href="/admin/admins">
        <i class="large material-icons left">supervisor_account</i>Click Here</a>
      </div>
    </div>
  </div>
  </div>
