<div class="row">
  <div class="col s10 offset-s1">
    <ul class="collection">
      <li class="collection-item"><strong> Name: </strong> <%= @driver.fname %> <%= @driver.lname %> </li>
      <li class="collection-item"><strong> Email: </strong> <%= @driver.email %> </li>
      <li class="collection-item">Alvin</li>
      <li class="collection-item">Alvin</li>
    </ul>
  </div>
</div>
